@import "~/src/assets/scss/mixins";

.create-feed {
  width: 54rem;
  margin: 0 auto;
  padding: 7rem 1rem;  


  @include respond(small){
    width: 100%;
    padding: 7rem 2.4rem;
  }

  &__bar {
    margin-bottom: 6rem;
  }

  &__content {
    background-color: #fff;
    border-radius: 8px;
    padding: 4rem 2.4rem;
    position: relative;
  }

  &__select {
    display: block;
    margin-top: 1.5rem;
    width: auto;
    height: auto;
    position: relative;
    // position: relative;
  }

  &__controls {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 2rem;

    & > button {
      justify-content: center;     
    }

    @include respond(small){
      flex-direction: column-reverse;
      
    }
  }
  
}

.btn__warn {
  @include respond(small){
    width: 100%;
  }
}

.circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(45deg, #488aef, #ad1fea, #da4b8c);

  position: absolute;
  left: 3rem;
  top: 0;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    color: #fff;
    font-weight: 1.4rem;
    font-weight: 700;
  }
  
}

.circle__icon--edit {
  width: 6rem;
  height: 6rem;
  
}
