<div class="comments">
  <h3 class="comments__title">{{ comments.length }} / Comments</h3>

  <ul class="comments__list">
    <li
      *ngFor="let comment of filterComments(); let i = index"
      class="comments__item"
    >
      <img
        class="comments__img"
        [src]="'../../../assets/images/' + comment.userInfo.id + '.png'"
      />
      <div class="flex-1">
        <div class="comments__header">
          <div>
            <h4 class="comments__user-full">{{ comment.userInfo.fullName }}</h4>
            <p class="comments__user-name">
              {{ "@" + comment.userInfo.userName }}
            </p>
          </div>
          <button
            (click)="toggleReply(comment.id + 'index' + i)"
            class="comments__btn-reply"
          >
            Reply
          </button>
        </div>
        <p class="comments__message">
          {{ comment.content }}
        </p>
        <div
          [attr.data-text]="comment.id + 'index' + i"
          class="comments__textarea-wrap"
          [class.comments__textarea-wrap-show]="
            showOrHideReply(comment.id + 'index' + i)
          "
        >
          <textarea
            class="comments__textarea"
            placeholder="your reply"
            [formControl]="reply"
          ></textarea>
          <button
            class="comments__btn-send"
            [class.comments__btn-send-active]="reply.valid"
          >
            <mat-icon class="comments__send-icon">send</mat-icon>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
