@import "~/src/assets/scss/mixins";

.home {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 8rem;
  position: relative;
  overflow: hidden;

  display: flex;
  gap: 3rem;

  @include respond(tablet){
    flex-direction: column;
  }

  @include respond(mobile){
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    gap: 0;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include respond(tablet){
      flex-direction: row;
      justify-content: space-between;
    }

    @include respond(mobile){
      display: none;
      pointer-events: none;
    }
  }

  &__right {
    flex: 1;
    position: relative;
  }

  &__cards {
    margin-top: 2rem;

    @include respond(mobile){
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  &__card {
    display: block;
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }
}

.home-nav {
  height: 10rem;
  padding: 0 2.5rem;
  color: #fff;
  background: 
    radial-gradient(farthest-side at 0% 100%, #488aef 70%, transparent),
    radial-gradient(farthest-side at 100% 0%, #da4b8c 15%, #ad1fea 50%, transparent),
    radial-gradient(farthest-side at 0% 0%, #7ab3f9, transparent),
    radial-gradient(farthest-side at 100% 100%, #f49f85, transparent);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 778px){
    display: none;
    pointer-events: none;
  }

  &__logo {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__icon {
    color: #fff;
    font-size: 3rem;
  }
}

.home-nav__side {
  padding: 2rem;
  background-color: #f2f4ff;
  width: 30rem;

  position: absolute;
  top: 10rem;
  right: 0;
  height: 100%;
  z-index: 100;

  // for animate
  opacity: 0;
  transform: translateX(100%);
  transition: all .4s;
  
  &-animate {
    transform: translateX(0);
    opacity: 1;
  }

  app-filter-card{
    margin-bottom: 2rem;
    display: block;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);

  position: absolute;
  top: 0;
  left: 0;
}

