@import "~/src/assets/scss/mixins";

.filter-card {
  @include cardSize();
  
  background-color: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  &__button {
    border: none;
    border-radius: 1rem;
    background-color: #f3f3fc ;
    color: #4661E6 ;
    font-size: 1.4rem;
    font-weight: 600;
    padding: .5rem 1.5rem;

    &:hover {
      background-color: #CFD7FF;
      cursor: pointer;
    }
  }

  .btn-active {
    background-color: #4661E6;
    color: #fff;
  }
}