@import "~/src/assets/scss/mixins";

.app {  
  max-width: 1120px;
  min-height: calc(100vh - 7rem); // footer 7rem
  margin: 0 auto;
  font-size: 1.6rem;

  @include respond(tablet){
    max-width: 780px;
  }

  @include respond(small){
    font-size: 1.3rem;
  }
}



