$primary-palette: (
  50 : #e7e8ed,
  100 : #c3c5d2,
  200 : #9b9fb4,
  300 : #737995,
  400 : #555c7f,
  500 : #373f68,
  600 : #313960,
  700 : #2a3155,
  800 : #23294b,
  900 : #161b3a,
  A100 : #7a8bff,
  A200 : #475eff,
  A400 : #1432ff,
  A700 : #0020f9,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$accent-palette: (
  50 : #e9ecfc,
  100 : #c8d0f8,
  200 : #a3b0f3,
  300 : #7e90ee,
  400 : #6279ea,
  500 : #4661e6,
  600 : #3f59e3,
  700 : #374fdf,
  800 : #2f45db,
  900 : #2033d5,
  A100 : #ffffff,
  A200 : #daddff,
  A400 : #a7afff,
  A700 : #8d97ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);