@import "custom-theme.scss";

:root {
  --color-primary: #373f68;
  --color-accent: #4661e6;

  --color-warn: #f44336;

  --bg-body: #f2f4ff;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

/**======================*/
// Reusable Style
/**======================*/

