@import "custom-theme.scss";
@import "assets/scss/_typography";
@import "assets/scss/utilities";

:root {
  --color-primary: #ad1fea;
  --color-accent: #373f68;

  --color-warn: #f44336;

  // text-color
  --text-primary: #ad1fea;

  --text-accent: #647196;
  --text-accent-dark: #3a4374;

  // Special color
  --bg-body: #f2f4ff;

  // Main colors
  --color-white: #fff;

  --gray-05: #f0f0f0;
  --gray-10: #d9d9d9;
  --gray-20: #c0c0c0;
  --gray-30: #a6a6a6;
  --gray-70: #6d6d6d;
  --gray-80: #636363;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-body);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #647196;
}

/**======================*/
// Reset Style
/**======================*/

ol,
ul,
dl {
  margin: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;

  &:active {
    outline: none;
  }
}

input,
textarea {
  border: 0;
  outline: none;
  background: none;
}

/**======================*/
// Override Angular material
/**======================*/
.mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**======================*/
// Reusable Components
/**======================*/
/////////////////////////
///// Buttons
.btn {
  border: 0;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 8px;
  font-weight: 500;

  &-bold {
    font-weight: 700;
  }

  &:hover,
  &:active {
    cursor: pointer;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__primary {
    background-color: #ad1fea;
    color: #fff;
    transition: all 0.4s;

    &:hover,
    &:active {
      background-color: #c75af6;
    }
  }

  &__secondary {
    background-color: var(--text-accent-dark);
    color: #fff;
    transition: all 0.4s;

    &:hover,
    &:active {
      background-color: var(--text-accent);
    }
  }
}

.btn-back {
  display: flex;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
  color: var(--text-accent);

  &__icon {
    margin-right: 0.5rem;
    color: #4661e6;
    transition: all 0.4s;
  }

  &:hover &__icon {
    font-weight: 700;
  }
}

.btn__disable {
  pointer-events: none;
  cursor: default;
}

.btn__disable--primary {
  background-color: var(--gray-70);
}

.btn-test {
  background-color: red;
}

.form-field {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  &__label {
    font-weight: 700;
    color: #3a4374;
    display: block;
  }

  &__hint {
    font-size: 1.4rem;
    font-weight: 400;
    color: #647196;
    display: block;
  }

  &__input {
    border-radius: 5px;
    background-color: #f2f4ff;
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    width: 100%;
    margin-top: 1.5rem;
  }

  &__input-text {
    resize: none;
  }

  &__error-box {
    position: absolute;
    left: 1rem;
    top: 100%;
  }

  &__error-text {
    color: var(--color-warn);
    font-size: 1.3rem;
  }
}

/////////////////////////////////////////////
// Utilities style
.form-field__input:focus,
.select__input:focus {
  box-shadow: 0 0 3px 1px var(--color-primary);
  opacity: 0.8;
}

.border-error {
  box-shadow: 0 0 3px 1px var(--color-warn) !important;
  opacity: 0.8;
}
