<div class="suggest">
  <div class="suggest__info">
    <mat-icon svgIcon="suggestion_icon"></mat-icon>
    <h2 class="suggest__title">{{ feedsNum }} Suggestion</h2>
  </div>
  <div class="suggest__select">
    <label class="label">Sort By:</label>
    <div #toggle class="suggest__sort-btn" (click)="toggleList()">
      <span #value class="select-value">{{ selected.text }}</span>
      <mat-icon>expand_more</mat-icon>
    </div>
    <ul
      *ngIf="showList"
      class="sort__list"
      appClickOutside
      [toggle]="toggle"
      (clicked)="showList = false"
    >
      <li
        class="sort__item"
        [class.sort__item-active]="selected.value === option.value"
        *ngFor="let option of OPTIONS"
        (click)="selectOption(option)"
      >
        <span class="sort__text">{{ option.text }}</span>
        <mat-icon *ngIf="selected.value === option.value">done</mat-icon>
      </li>
    </ul>
  </div>
  <button
    (click)="navFeedback()"
    class="btn btn__icon btn__primary btn-bold suggest-bar-btn"
  >
    <mat-icon>add</mat-icon>
    <span>Add Feedback</span>
  </button>
</div>
